<!DOCTYPE html>
<html lang="en">
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content "width=device-width, initial-scale=1.0">
  <title>Mercado Liebre</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://kit.fontawesome.com/24aa8c2c6e.js" crossorigin="anonymous"></script>

</head>
<header class="main-header">
  <div class="main-header-top-bar">
    <img src="/images/logo-mercado-liebre.svg" class="logo">
    <div class="buscador"><input type="search" placeholder="Buscar productos, marcas"><a href="#"><i class="fas fa-search" style="color: black; background-color: white"></i></a>
    </div>
    <h2 class="copy-header">
      <i class="fas fa-hand-holding-usd"></i>
      Comprá en cuotas y sin tarjeta de crédito
    </h2>
  </div>
  <nav class="main-navbar">
    <ul class="left-navbar">
      <li><a href='#'>Ofertas </a></li>
      <li><a href='#'>Tiendas Oficiales </a></li>
      <li><a href='#'>Vender </a></li>
      <li><a href='#'>Ayuda </a></li>
    </ul>
    <ul class="rigth-navbar">
      <li><a href='/register'>Creá tu cuenta </a>
        <i class="far fa-address-card"></i>
      </li>
      <li><a href='/login'>Ingresá </a>
        <i class="fas fa-sign-in-alt"></i>
      </li>
      <li><a href='#'>Mis compras </a>
        <i class="fas fa-shopping-basket"></i>
      </li>
    </ul>
  </nav>
  <a href="#" class="hamburguer-buttom">
    <i class="fas fa-bars"></i>
  </a>
</header>

<body>
  <div class="container-banner">
    <img src="/images/img-home-banner.jpg" alt="" class="primer-imagen">
  </div>
  <main class="main">
    <h2 class="main-title"> Basado en tu última visita </h2>
    <section class="container-products">
      <div class="product1">
        <img src="images/img-cafetera-moulinex.jpg" alt="" class="product__img">
        <div class="icono_envio">
          <i class="fas fa-truck" style="color: #39b54a"></i>
        </div>
        <span class="product__price">$6770</span>
        <span class="product__descuento">40% off</span>
        <p class="product__title">Cafetera Moulinex</p>
        </div>
        <div class="product2">
        <img src="images/img-macbook-pro-2019.jpg" alt="" class="product__img">
        <div class="icono_envio">
          <i class="fas fa-truck" style="color: #39b54a"></i>
        </div>
        <span class="product__price">$230.000</span>
        <span class="product__descuento">20% off</span>
        <p class="product__title">MacBook Pro 2019</p>
      </div>
      <div class="product3">
        <img src="images/img-samsung-galaxy-s10.jpg" alt="" class="product__img">
        <div class="icono_envio">
          <i class="fas fa-truck" style="color: #39b54a"></i>
        </div>
        <span class="product__price">$70.500</span>
        <span class="product__descuento">10% off</span>
        <p class="product__title">Samsung Galaxy S10</p>
      </div>
      <div class="product4">
        <img src="images/img-tv-samsung-smart.jpg" alt="" class="product__img">
        <div class="icono_envio">
          <i class="fas fa-truck" style="color: #39b54a"></i>
        </div>
        <span class="product__price">$23.200</span>
        <span class="product__descuento">5% off</span>
        <div class="product__description">
          <p class="product__title">SmartTv Samsung 43"</p>
        </div>
      </div>
    </section>
    <h2 class="main-title">Ofertas</h2>
    <section class="container-products">
      <div class="product5">
        <img src="images/img-cafetera-moulinex.jpg" alt="" class="product__img">
        <div class="icono_envio">
          <i class="fas fa-truck" style="color: #39b54a"></i>
        </div>
        <span class="product__price">$6770</span>
        <span class="product__descuento">40% off</span>
        <p class="product__title">Cafetera Moulinex</p>
      </div>

      <div class="product6">
        <img src="images/img-macbook-pro-2019.jpg" alt="" class="product__img">
        <div class="icono_envio">
          <i class="fas fa-truck" style="color: #39b54a"></i>
        </div>
        <span class="product__price">$230.000</span>
        <span class="product__descuento">20% off</span>
        <p class="product__title">MacBook Pro 2019</p>
      </div>

      <div class="product7">
        <img src="images/img-samsung-galaxy-s10.jpg" alt="" class="product__img">
        <div class="icono_envio">
          <i class="fas fa-truck" style="color: #39b54a"></i>
        </div>
        <span class="product__price">$70.500</span>
        <span class="product__descuento">10% off</span>
        <p class="product__title">Samsung Galaxy S10</p>
      </div>

      <div class="product8">
        <img src="images/img-tv-samsung-smart.jpg" alt="" class="product__img">
        <div class="icono_envio">
          <i class="fas fa-truck" style="color: #39b54a"></i>
        </div>
        <span class="product__price">$23.200</span>
        <span class="product__descuento">5% off</span>
        <div class="product__description">
          <p class="product__title">SmartTv Samsung 43"</p>
        </div>
      </div>
    </section>

  </main>
</body>
<footer class="container-footer">
  <div class="options1">
    <i class="fas fa-credit-card" style="color: #1259c3;"></i>
    <h4 class="footer-title">Pagá con tarjeta o en efectivo</h4>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
      puntos de pago. ¡Y siempre es seguro!</p>
  </div>
  <div class="options2">
    <i class="fas fa-gift" style="color: #1259c3;"></i>
    <h4>Envío gratis desde $ 2.500</h4>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
      productos. Es un beneficio de Mercado Puntos.</p>
  </div>
  <div class="options3">
    <i class="fas fa-user-shield" style="color: #1259c3;"></i>
    <h4>Seguridad, de principio a fin</h4>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
      porque estás siempre protegid@.</p>
  </div>
  </footer>
  <div class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
</html>